/* MARK: - Table */
table {
    border-collapse: separate;
    border-spacing: 0;
}
th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid var(--separator-color);
}
th { background: var(--table-header-background-color); }
tr:hover td { background: var(--table-hover-background-color); }

@media (max-width: 480px) {
    table {
        font-size: 0.9rem;
    }

    th, td {
        padding: 10px;
    }
}