@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playpen+Sans:wght@100..800&display=swap');

:root {
    /* Colors */
    --primary-accent-color: #0476D9;
    --secondary-accent-color: #044BD9;
    --tertiary-color: #71A8D9;

    --primary-font-color: #000000;
    --accent-font-color: var(--primary-accent-color);
    /* --secondary-font-color: var(--primary-background-color);
    --tertiary-font-color: var(--secondary-background-color); */

    --primary-background-color: #F2E5D5;
    --secondary-background-color: #FFFFFF;
    --accent-background-color: var(--secondary-accent-color);

    --separator-color: #DDDDDD;
    /* --table-header-background-color: #F5F5F5;
    --table-hover-background-color: #FAFAFA;

    --star-color: #DB9F36;
    --preparing-status-color: #F6CF71;
    --waiting-status-color: #D8C6A3;
    --delivery-status-color: #66C5CC;
    --finished-status-color: #87C55F; */

    /* Heights */
    --header-height: 80px;
    --viewport-height: calc(100svh - var(--header-height));
    
    /* Sizes */
    --max-width-form: 500px;
    --radius-xs: 6px;
    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-hg: 16px;
    
    /* 
    Screen size breakpoints:
        - Mobile: 0 - 767px
        - Tablet: 768px - 1023px
        - Desktop: 1024px and above
    */
}
html[color-scheme="dark"] {
    --primary-accent-color: #71A8D9;
    --secondary-color: #3372F0;
    --tertiary-color: #2E5C84;

    --primary-font-color: #FFFFFF;
    --accent-font-color: var(--primary-accent-color);

    --primary-background-color: #281D10;
    --secondary-background-color: #000000;
    --accent-background-color: var(--secondary-color);

    --separator-color: #241E1E;
        /* --table-header-background-color: #0B0909;
        --table-hover-background-color: #060505; */

        /* --star-color: #BC882F;
        --preparing-status-color: #886411;
        --waiting-status-color: #56492E;
        --delivery-status-color: #3D898F;
        --finished-status-color: #669645; */
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playpen Sans", cursive;
    scrollbar-width: thin;
    -webkit-scrollbar-width: thin;
    scrollbar-color: var(--tertiary-color) transparent;
    -webkit-scrollbar-color: var(--tertiary-color) transparent;
}

body {
    width: 100%;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    color: var(--primary-font-color);
    background-color: var(--primary-background-color);
    overflow-x: hidden;
}
body:has(header:is([data-menu-state="open"])) { overflow: hidden; }

a { text-decoration: none; color: inherit; }

button {
    border: none;
    background-color: transparent;
    color: inherit;
}
button[disabled] {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}

hr {
    width: 100%;
    border: 0;
    border-top: 1px solid var(--separator-color);
}

p, span { font-family: "Inter", sans-serif; }
ul { list-style: none; }