@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playpen+Sans:wght@100..800&display=swap');

:root {
    /* Colors */
    --primary-color: #0476D9;
    --secondary-color: #044BD9;
    --tertiary-color: #71A8D9;

    --primary-font-color: #0476D9;
    --secondary-font-color: #F2E5D5;
    --tertiary-font-color: #FFFFFF;

    --primary-background-color: #F2E5D5;
    --secondary-background-color: #FFFFFF;

    --separator-color: #DDDDDD;
    --table-header-background-color: #F5F5F5;
    --table-hover-background-color: #FAFAFA;

    --star-color: #DB9F36;
    --preparing-status-color: #F6CF71;
    --delivery-status-color: #66C5CC;
    --finished-status-color: #87C55F;
    
    /* Sizes */
    --header-height: 80px;
    --max-width-form: 500px;
    --radius-xs: 6px;
    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-hg: 16px;
    
    /*  Responsive references:
        Mobile  : 480px;
        Tablets : 768px;
        Laptops : 1024px;
    */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playpen Sans", cursive;
    scrollbar-width: thin;
    -webkit-scrollbar-width: thin;
    scrollbar-color: var(--tertiary-color) transparent;
    -webkit-scrollbar-color: var(--tertiary-color) transparent;
}

body {
    width: 100%;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-background-color);
}

a { text-decoration: none; color: inherit; }
p, span { font-family: "Inter", sans-serif; }
ul { list-style: none; }
hr { border: 0; border-top: 1px solid var(--separator-color); }
button[disabled] { pointer-events: none; cursor: default; }

/* MARK: - Animations */
@keyframes spin {
    from { transform: translateX(33.33%) rotate(0deg); }
    to { transform: translateX(33.33%) rotate(360deg); }
}

@media (max-width: 1024px) {
    @keyframes spin {
        from { transform: translateX(50%) rotate(0deg); }
        to { transform: translateX(50%) rotate(360deg); }
    }
}
@media (max-width: 480px) {
    @keyframes spin {
        from { transform: translateX(66.66%) rotate(0deg); }
        to { transform: translateX(66.66%) rotate(360deg); }
    }
}