@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playpen+Sans:wght@100..800&display=swap');

:root {
    /* Colors */
    --primary-color: #0476D9;
    --secondary-color: #044BD9;
    --tertiary-color: #71A8D9;
    --primary-font-color: #0476D9;
    --secondary-font-color: #F2E5D5;
    --primary-background-color: #F2E5D5;
    
    /* Sizes */
    --header-height: 80px;
    --max-width-form: 500px;
    --radius-md: 12px;
    --radius-hg: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playpen Sans", cursive;
}

body {
    width: 100%;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-background-color);
}

a {
    text-decoration: none;
    color: inherit;
}
p { font-family: "Inter", sans-serif; }
ul { list-style: none; }
hr {
    border: 0;
    border-top: 1px solid var(--secondary-font-color);
}