main {
    justify-content: flex-start;
    gap: 40px;
    min-height: 0;
    padding: 20px 40px;
    background: transparent;
}
main > h1 { width: 100%; }

#basket__container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    width: 100%;
    border: none;
}

#basket__container > section {
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 100%;
    height: auto;
    border: none;
    border-radius: 10px;
}
#basket__container > section > h2 {
    width: 100%;
    text-align: center;
    color: var(--accent-font-color);
}

/* MARK: - Basket items Section */
.scrollable__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

/* MARK: - Basket summary Section */
#basket__summary.hidden { display: none; }

#basket__summary form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
#basket__summary #delivery__options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#basket__summary .col__group { gap: 12px; }
#basket__summary > .btn, #basket__summary form > .btn { width: 100%; }

#spacer {
    height: 50px;
    visibility: hidden;
}

#delivery_type { width: 100%; }

#price__summary {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}
#promo__container { color: var(--separator-color); }

/* MARK: - Media Queries */
@media (min-width: 768px) {
    #basket__container { flex-direction: row; }
    #basket__container > section {
        flex: 1;
        min-width: 0;
        max-width: none;
    }

    .scrollable__container { position: absolute; }

    form { height: 100%; }
    #spacer { flex: 1; }
}

@media (min-width: 1024px) {
    main { height: var(--viewport-height); }

    #basket__container, #basket__container > section { height: 100%; }
    
    #basket__summary #delivery__options { flex-direction: row; }
}