@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playpen+Sans:wght@100..800&display=swap');

:root {
    /* Colors */
    --primary-color: #0476D9;
    --secondary-color: #044BD9;
    --tertiary-color: #71A8D9;

    --primary-font-color: #0476D9;
    --secondary-font-color: #F2E5D5;

    --primary-background-color: #F2E5D5;

    /* Sizes */
    --header-height: 80px;
}

/* MARK: - Common Style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    width: 100%;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-background-color);
}

a {
    text-decoration: none;
}

p {
    font-family: "Inter", sans-serif;
}

.hidden {
    display: none;
}

.primary-button {
    display: inline-flex;
    align-items: center;
    padding: 8px 12px;
    font-size: 1rem;
    font-weight: 800;
    color: var(--primary-font-color);
    border-radius: 12px;
    border: 3px solid var(--tertiary-color);
    background-color: transparent;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.primary-button:hover {
    color: var(--secondary-font-color);
    background-color: var(--tertiary-color);
}

/* MARK: - Header Style */
header {
    position: relative;
    width: 100%;
    height: var(--header-height);
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: var(--header-height);
    padding: 0 20px;
    font-size: 1.3rem;
    background-color: var(--primary-color);
    z-index: 1;
}
.header__container a {
    color: var(--secondary-font-color);
    font-weight: bold;
}

.header__container a, .header__container a img { height: 100%; }

.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.header__menu a, .footer__left > div a { position: relative; }
.header__menu a::after,
.footer__left > div a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    opacity: 0;
    border: 1px solid var(--secondary-font-color);
    transition: all .3s ease-in-out;
}
.header__menu a#active__menu::after,
.header__menu a:hover::after,
.footer__left > div a:hover::after {
    opacity: 1;
    width: 100%
}
.header__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    color: var(--secondary-font-color);
}
.header__right > #search__button {
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.header__right > #search__button svg {
    width: 24px;
    height: 24px;
    color: var(--secondary-font-color);
}
.header__right > .primary-button span { font-weight: bold; }
.header__right > .primary-button, .footer__right > .primary-button { border: 3px solid var(--secondary-font-color); }
.header__right > .primary-button:hover, .footer__right > .primary-button:hover {
    color: var(--primary-font-color);
    background-color: var(--primary-background-color);
}

.header__search-bar, .header__search-bar input {
    width: 100%;
    height: 40px;
    background: white;
    text-align: center;
    font-size: 1rem;
}
.header__search-bar {
    position: absolute;
    bottom: 0;
    transition: bottom .3s ease-out;
}
.header__search-bar.active { bottom: -40px; }
.header__search-bar input {
    outline: none;
    border: none;
}

/* MARK: - Footer Style */
footer {
    display: inline-flex;
    flex-direction: column;
    gap: 14px;
    position: relative;
    padding: 14px 20px;
    width: 100%;
    color: var(--secondary-font-color);
    background-color: var(--primary-color);
}
footer .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}
footer .footer__container .restaurant__identity {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
footer .footer__container .restaurant__identity img { width: 200px; }
footer .footer__container button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    height: 44px;
    padding: 8px 12px;
    cursor: pointer;
    color: var(--secondary-font-color);
}
footer .footer__container button svg {
    width: auto;
    height: 100%;
}

footer .footer__container .footer__left {
    display: flex;
    flex-direction: row;
    gap: 80px;
}
footer .footer__container .footer__left > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer .footer__container .footer__left > div h3 { font-weight: 900; }
footer .footer__container .footer__left > div ul { list-style: none; }
footer .footer__container .footer__left > div a { color: var(--secondary-font-color); }
footer > hr {
    border: 0;
    border-top: 1px solid var(--secondary-font-color);
}
footer > .legacy {
    width: 100%;
    padding: 0 20px;
    text-align: right;
    font-size: 0.8rem;
    opacity: 0.5;
}

/* MARK: - input style */
.input-style{
    padding: 10px 14px;
    font-size: 14px;
    border: 2px solid var(--tertiary-color);
    border-radius: 10px;
}

.input-style:focus{
    outline: none;
    border-color: var(--primary-color);
}

/* MARK: - form style */
.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 500px;
    padding: 40px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

/*MARK: - main style */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 40px 20px;
    color: var(--primary-color);
}
