@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playpen+Sans:wght@100..800&display=swap');

:root {
    /* Colors */
    --primary-color: #0476D9;
    --secondary-color: #044BD9;
    --tertiary-color: #71A8D9;

    --primary-font-color: #0476D9;
    --secondary-font-color: #F2E5D5;

    --primary-background-color: #F2E5D5;

    /* Sizes */
    --header-height: 80px;

    --footer-height: 200px;
}

/* MARK: - Common Style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    width: 100%;
    height: 100svh;
    background-color: var(--primary-background-color);
}

a {
    text-decoration: none;
}

p {
    font-family: "Inter", cursive;
}

.hidden {
    display: none;
}

.primary-button {
    display: inline-flex;
    align-items: center;
    padding: 8px 12px;
    font-size: 1rem;
    font-weight: 800;
    color: var(--primary-font-color);
    border-radius: 12px;
    border: 3px solid var(--tertiary-color);
    background-color: transparent;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.primary-button:hover {
    color: var(--secondary-font-color);
    background-color: var(--tertiary-color);
}

/* MARK: - Header Style */
header {
    position: relative;
    width: 100%;
    height: var(--header-height);
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: var(--header-height);
    padding: 0 20px;
    font-size: 1.3rem;
    background-color: var(--primary-color);
    z-index: 1;
}
.header__container a {
    color: var(--secondary-font-color);
    font-weight: bold;
}

.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.header__menu a { position: relative; }
.header__menu a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    opacity: 0;
    border: 1px solid var(--secondary-font-color);
    transition: all .3s ease-in-out;
}
.header__menu a#active__menu::after,
.header__menu a:hover::after {
    opacity: 1;
    width: 100%
}
.header__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    color: var(--secondary-font-color);
}
.header__right > #search__button {
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.header__right > #search__button svg {
    width: 24px;
    height: 24px;
    color: var(--secondary-font-color);
}
.header__right > .primary-button { border: 3px solid var(--secondary-font-color); }
.header__right > .primary-button:hover {
    color: var(--primary-font-color);
    background-color: var(--primary-background-color);
}

.header__search-bar, .header__search-bar input {
    width: 100%;
    height: 40px;
    background: white;
    text-align: center;
    font-size: 1rem;
}
.header__search-bar {
    position: absolute;
    bottom: 0;
    transition: bottom .3s ease-out;
}
.header__search-bar.active { bottom: -40px; }
.header__search-bar input {
    outline: none;
    border: none;
}

/* MARK: - Footer Style */
footer {
    position: relative;
    width: 100%;
    height: var(--footer-height);
    background-color: var(--primary-color);
}