/* MARK: - Buttons */
.btn {
    padding: 8px 12px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: var(--primary-font-color);
    background-color: transparent;
    border: none;
    border-radius: var(--radius-md);
    outline: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.btn-svg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.btn-primary {
    color: var(--primary-font-color);
    border: 3px solid var(--tertiary-color);
}
.btn-primary:hover {
    background: var(--tertiary-color);
    color: var(--secondary-font-color);
}

.btn-inverse {
    color: var(--secondary-font-color);
    border: 3px solid var(--secondary-font-color);
}
.btn-inverse:hover {
    color: var(--primary-font-color);
    background: var(--primary-background-color);
}

.btn-secondary {
    padding: 0;
    font-size: 1.25rem;
    font-family: "inter", sans-serif;
    text-transform: uppercase;
    color: var(--tertiary-font-color);
    border: none;
    opacity: 0.5;
}
.btn-secondary.active, .btn-secondary:hover { opacity: 1; }

.btn-status {
    font-size: 0.8rem;
    font-weight: normal;
    color: var(--tertiary-font-color);
    background-color: var(--status-color);
    border-radius: var(--radius-xs);
}
.btn-status[data-status="preparing"] { --status-color: var(--preparing-status-color); }
.btn-status[data-status="delivery"] { --status-color: var(--delivery-status-color); }
.btn-status[data-status="finished"] { --status-color: var(--finished-status-color); }

/* MARK: - Cards */
.cards__wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.cards__wrapper::after,
.cards__wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 40px;
    z-index: 0;
}
.cards__wrapper::after {
    right: 0;
    background: linear-gradient(to left, var(--primary-background-color), transparent);
}
.cards__wrapper::before {
    left: 0;
    background: linear-gradient(to right, var(--primary-background-color), transparent);
}
.cards__track {
    display: grid;
    grid-auto-flow: column;
    align-items: baseline;
    justify-content: start;
    gap: 24px;
    max-width: 100%;
    overflow-x: auto;
}
.dish__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 280px;
    max-width: 280px;
    height: 400px;
    padding: 24px;
    background: var(--secondary-background-color);
    border-radius: var(--radius-hg);
    box-shadow: 0 4px 15px rgba(0, 0 , 0, 0.05);
}
.dish__card h3 {
    color: var(--primary-color);
}

/* MARK: - Forms */
.form-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: var(--max-width-form);
    margin: 0 auto;
    padding: 40px;
    border-radius: var(--radius-hg);
    background: var(--secondary-background-color);
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}
.form-card label { font-size: 0.9rem; }
.rating-form.form-card label, .rating-form.form-card h2 { font-size: 1.1rem; }

.form-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}
.form-group-line, .form-group-line__input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 16px;
}
@media (max-width: 480px) {
    .form-group-line { gap: 4px; }
    .form-group-line {
        flex-direction: column;
        align-items: stretch;
    }
}

.form-group > label, .form-group-line > label {
    min-width: max-content;
    font-weight: bold;
}
.form-group:has(input:required) > label::after, .form-group-line:has(input:required) > label::after {
    content: '*';
    color: #BF0000;
    font-size: 1rem;
}

input, select, textarea {
    width: 100%;
    padding: 12px 14px;
    font-size: 1rem;
}
main input, main select, main textarea {
    border: 2px solid var(--tertiary-color);
    border-radius: var(--radius-md);
}
main input:focus, main textarea:focus {
    outline: none;
    border-color: var(--primary-color);
}
main textarea {
    resize: vertical;
    min-height: 100px;
}
.form-group-line input, .form-group-line select, .form-group-line textarea {
    padding: 8px;
    font-size: 0.9rem;
}

/* MARK: - Stars (index & notation pages) */
.rating-stars {
    font-size: 2rem;
    color: var(--star-color);
    letter-spacing: 5px;
    cursor: pointer;
}

/* MARK: - Daily special section (index page) */
#special-dish { width: calc(2*(100% - 2*80px) / 3); }
#special-dish-image {
    position: relative;
    width: calc((100% - 2*80px) / 3);
}
#special-dish-image svg { color: var(--tertiary-color); }
#special-dish-image img { position: absolute; }

/* MARK: - Scrollable container */
.scrollable-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}
.scrollable-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
}
.scrollable-container table th {
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}