main
{
    margin: 60px 0;
}
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100svh - 80px - 200px);
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 400px;
    padding: 32px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.login-form h1 {
    text-align: center;
    color: var(--primary-color);
}

.login-form input {
    padding: 12px;
    font-size: 1rem;
    border-radius: 8px;
    border: 2px solid var(--tertiary-color);
}

.login-form input:focus {
    outline: none;
    border-color: var(--secondary-color);
}
