.form h1 {
    text-align: center;
    color: var(--primary-color);
}

.form label {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
}

.form button
{
    align-self: center;
}
