:root {

    --primary-color: #4DA3FF;
    --secondary-color: #2F6FE0;
    --tertiary-color: #5C8FBF;

    --primary-font-color: #F5F5F5;
    --secondary-font-color: #D6D6D6;
    --tertiary-font-color: #FFFFFF;

    --primary-background-color: #280707;
    --secondary-background-color: #1E1E1E;

    --separator-color: #2B2B2B;
    --table-header-background-color: #1A1A1A;
    --table-hover-background-color: #242424;

    --star-color: #F7C45C;
    --preparing-status-color: #D9B65A;
    --waiting-status-color: #9B8A6B;
    --delivery-status-color: #4FA3AA;
    --finished-status-color: #6FAF4E;
}

body{
    color: #FFFFFF;
}

input, textarea {
    background-color: #2A2A2A;
    color: white;
    border: 2px solid #444;
}

input::placeholder, textarea::placeholder {
    color: #AAAAAA;
}
