.form h1 {
    text-align: center;
    color: var(--primary-color);
}

.form label {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
}

.genre p {
    font-weight: bold;
    color: var(--primary-color);
}

.genre label {
    display: flex;
    margin: 8px;
    gap: 8px;
    font-weight: 350;
    cursor: pointer;
}


.form button {
    align-self: center;
}

