main 
{
    margin: 60px 0;
    width: 100%;
    padding: 40px;
}

form
{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: white;
}


.genre
{
    display: inline-block;
    word-spacing: 10px;
}

.date
{
    display: inline-block;
    word-spacing: 10px;
}
