.livraison-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 40px 20px;
    color: var(--primary-color);
}

.livraison-section{
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 100%;
    max-width: 500px;
    gap: 20px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.livraison-section h1{
    text-align: center;
}

.livraison-section p{
    font-size: 16px;
    color: black;
}

.livraison-section h2{
    margin-bottom: 8px;
}

.commentaire{
    margin-bottom: 20px;
}

.livraison-gps{
    display: flex;
    flex-direction: column;
    gap: 1px;
    
}

.primary-button{
    justify-content: center;
    padding: 16px;
}

