.form{max-width: 700px;}

.form h1 {
    text-align: center;
    margin-bottom: 30px;
    color: var(--primary-color);
}

.notation-produit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    font-weight: 500;
    width: 100%;
}

.notation-livraison {
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-top: 20px;
    font-weight: 500;
    width: 100%;
}

.etoile {
    font-size: 40px;
    color: rgb(219, 159, 54);
    letter-spacing: 4px;
    cursor: pointer;
}

.commentaire {
    width: 100%;
    margin: 32px 0;
}

.commentaire textarea {
    margin-top: 12px;
    width: 100%;
    padding: 14px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    border: 2px solid var(--tertiary-color);
    resize: none;
}

.commentaire textarea:focus {
    outline: none;
    border-color: var(--primary-color);
}

.primary-button
{
    align-self: center;
}
