main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 40px 20px;
    font-family: "Inter", sans-serif;
    color: var(--primary-color);
}

.page-notation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 700px;
    padding: 40px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.page-notation h1 {
    margin-bottom: 30px;
    color: var(--primary-color);
}

.notation-produit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    font-weight: 500;
    width: 100%;
}

.notation-livraison {
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-top: 20px;
    font-weight: 500;
    width: 100%;
}

.etoile {
    font-size: 40px;
    color: rgb(219, 159, 54);
    letter-spacing: 4px;
    cursor: pointer;
}

.commentaire {
    width: 100%;
    margin: 32px 0;
}

.commentaire textarea {
    margin-top: 12px;
    width: 100%;
    padding: 14px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    border: 2px solid var(--tertiary-color);
    resize: none;
}

.commentaire textarea:focus {
    outline: none;
    border-color: var(--primary-color);
}
