main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: calc(100svh - var(--header-height) - var(--footer-height))
}

.rating-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    max-width: 800px;
    padding: 40px;
    background-color: white;
    border-radius: 16px;
}

.rating-page h1 {
    margin-bottom: 30px;
    color: var(--primary-color);
}

.ratings {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    width: 100%;
    margin-bottom: 40px;
}

.stars {
    font-size: 2.2rem;
    color: var(--tertiary-color);
    letter-spacing: 8px;
    cursor: pointer;
}

.comment {
    width: 100%;
    margin-bottom: 32px;
}

.comment textarea {
    width: 100%;
    padding: 14px;
    font-size: 1rem;
    border-radius: 10px;
    border: 2px solid var(--tertiary-color);
    resize: none;
}

