/* Mark: - Margin & Padding */
.pt-100 { padding-top: 100px; }
.pv-16 { padding: 16px 0; }
.ph-60 { padding: 0 80px; }

/* Mark: - Text */
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-bold { font-weight: bold; }
.text-primary { color: var(--primary-color); }
.svg-24 {
    width: 24px;
    height: 24px;
}

/* Mark: - Flexbox */
.flex { display: flex; }
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-row-rev {
    display: flex;
    flex-direction: row-reverse;
}
.justify-between { justify-content: space-between; }
.justify-center { justify-content: center; }
.items-center { align-items: center; }
.gap-4 { gap: 4px; }
.gap-20 { gap: 20px; }
.gap-24 { gap: 24px; }
.gap-32 { gap: 32px; }
.gap-80 { gap: 80px; }

/* Mark: - Visibility */
.hidden { display: none; }
.w-full { width: 100%; }
.h-full { height: 100%; }
.h-full-screen { height: 100svh; }

/* Mark: - Object */
.object-contain { object-fit: contain; }
.object-center { object-position: center; }
.filter-drop-shadow { filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.80)); }